<html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <h1>    
        Please feel free to reach out us by contacts below
    </h1>
    <address>
        <strong>Greg, Inc.</strong><br>
        100 Lenin Street, Suite 1<br>
        Minsk, BY 151185<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
      <address>
        <strong>Mail:</strong><br>
        <a href="mailto:#">greg@greg.com</a>
      </address>
</html>